# USERID =  Group ID o Chat ID
# KEY = TOKEN
#
# Remplaza Grupo1 y Grupo2 por los chats donde mandara la notificacion
#
# Ejemplo:
# USERID=( -123456789 -987654321 ) <- dos grupos
# KEY="09840998:XXxxXXXXxXXxXXXxXXXXX-XXXxxxXXXxx" <-- Token del bot.
#
#
USERID=( GRUPO1 GRUPO2 )
KEY="EL-TOKEN-VA-AQUI"
